body {
    background: chocolate;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 30px;
    padding-left: 80px;
    overflow: hidden;
  }
  .text-start {
    font-size: 40px;
  }
  h5 {
    font-size: 20px;
  }
  .system {
    color: whitesmoke;
    text-shadow: 2px black;
  }
.number{
    width:80px;
    height: 60px;
    margin:2px;
    border-radius:6px;
    border: 1px solid black;
}
.numbers{
    width:150px;
    height: 50px;
    margin:2px;
    border-radius:10px;
    color: white;
    background-color:darkblue;
    font-style: inherit;
    letter-spacing: 4px;
}
.bin {
    color: antiquewhite;
}
.texxt {
    font-size: 30px;
    font-family: fantasy;
    color: white;
    border: 2px black;
}
.numbers:hover {
    background-color: aqua;
}
.btn-warning:hover {
    background-color: orange;
}
.btn-danger {
    background-color: indigo;
}
.btn-primary:hover {
    background-color: magenta;
}
.btn-dark:hover {
    background-color: gold;
}
.calculator{	
    border-radius:10px;
    box-shadow:2px 5px 8px blue;
    width: 500px;
    padding:15px;
    display: block;
    margin: auto;
}
.text{
    font-size:20px;
    font-weight: bold;
}
p{
    margin:0px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.input{
    font-size:30px;
    text-align: right;
}
::placeholder
{
    font-size: 30px;
    text-align: right;
}
.convert
{
    width:82px;
    height: 50px;
}
#movableBox {
    width: 100px;
    height: 100px;
    position: absolute;
    cursor: move;
  }
  .rjc {
    letter-spacing: 5px;
    font-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
  }
  .names {
    font-size: 50px;
    color: antiquewhite;
    text-align: left;
  }